
:root{
    --main-color:#F5F7F8 ;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;  

}

*, *:before, *:after {
    box-sizing: inherit;  
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
   
}


.encabezado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    
    
}
.encabezado header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    
    

}

.logo{
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(1.1);
    mix-blend-mode:darken;
}


.nav-principal{
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
    align-items: center;
}


.nav-principal ul{
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
    list-style: none;
    margin-right:2.5rem ;
    padding: .5rem;
    height: 100%;
    align-items: center;
    
    
}


.btn,.btn a{
    text-decoration: none;
    color: black;
    scale: 1;
    transition: all ease .3s;
}
.btn:hover{
    scale:1.1;
}

.logo{
    max-width: 10vw;
    max-height: 20vh;
    padding: 1rem;
    border-radius: 50%;   
    transition: all ease .5s;
}

.logo:hover{
    transform: rotate(360deg);
}

.contenedor-principal{
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    background-color:aquamarine;
}

.division_1{
    background-color: blue;
    height: 100%;
    width: 50vw;

}
.division_2{
    background-color: blueviolet;
    height: 100%;
    width: 50vw;
}

.pie{
    height: 20vh;
    background-color: aqua;
}

